* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    /* Color Variables */
    --bg-color: #000000;
    --bg-button-color: #1a1c1c;
    --bg-task-color: #2a2a2a;
    --primary-text-color: #eae5e5;
    --delete-color: #ff4c4c;

    /* Padding Variables */
    --navbar-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-s: 5px;
    --padding-m: 10px;
    --padding-l: 15px;
    --padding-xl: 20px;
    --padding-xxl: 30px;

    /* border-radius variables */
    --border-radius-s: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    --border-radius-xxl: 30px;

}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav {
    padding: var(--navbar-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    background-color: var(--bg-button-color);
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    border: none;
    outline: none;
    border-radius: var(--border-radius-m);
    cursor: pointer;
}

section {
    padding: var(--section-padding);
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: var(--padding-xxl);
}

section .task-column {
    flex-grow: 1;
    background-color: var(--bg-button-color);
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    border-radius: var(--border-radius-s);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .task-column .task {
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    cursor: grab;
}

section .task-column .task button {
    align-self: flex-end;
    cursor: pointer;
    padding: var(--padding-s) var(--padding-m);
    border-radius: var(--border-radius-s);
    border: none;
    outline: none;
    background-color: var(--delete-color);
    color: var(--primary-text-color);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .center {
    position: relative;
    background-color: var(--bg-button-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    z-index: 10;
}

.modal .center input,
.modal .center textarea {
    background-color: var(--bg-task-color);
    border: none;
    outline: none;
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
    color: var(--primary-text-color);
    font-size: 1rem;
    resize: none;
}

.modal .center button {
    background-color: rgb(82, 80, 80);
    color: var(--primary-text-color);
    padding: var(--padding-m) var(--padding-l);
    border: none;
    outline: none;
    border-radius: var(--border-radius-m);
    cursor: pointer;
}

.modal .center button:hover {
    background-color: var(--primary-text-color);
    color: var(--bg-button-color);
}
.modal .center input::placeholder,
.modal .center textarea::placeholder {
    color: var(--primary-text-color);
    opacity: 0.7;
}